.todo-wrapper {
  margin:0;
  padding:0;
}

.todoinput {
  margin-bottom: 2em;
  

}

#todoform input {
  padding: 7px 12px;
  border-radius: 4px;
  background: #fafafa;
}



.todo-response {
  border: 1px solid #9e9e9e;
  background:#fafafa;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 450px;
  margin:2em 0;
  padding:20px;


}