.deftods {
  list-style: none;
  padding-left: 0;
  margin-top: 10em;

}

.deftods li {
  padding: 5px 0;
  border-bottom: 1px dotted lightgray;
  margin-bottom: .5em;
}

.deftods li span {
  display: inline-block;
  width: 50%;
  margin-right: 15px;
  text-align: left;
}

.deftods li span:last-child {
  width: 5%;
  margin-right:0;
  text-align: center;
}

